<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.powerflasher.fdt.ui.MxmlcGroup">
<stringAttribute key="APP_ARGUMENTS" value=""/>
<stringAttribute key="ARGUMENTS" value="--target-player=10.0.0 -library-path {flexSDK}/frameworks/locale/en_US"/>
<stringAttribute key="FLEX_SDK_NAME" value="Flex_3_SDK_0_for_FP_10"/>
<booleanAttribute key="KILL_PREVIUOS_VIEWER" value="false"/>
<stringAttribute key="LAUNCHER_DEPENDENCIES" value="[Self]"/>
<stringAttribute key="MAIN_CLASS" value="src/Intermediate_Skybox.as"/>
<stringAttribute key="OUTPUT" value="bin/Intermediate_Skybox.swf"/>
<booleanAttribute key="PASS_CP" value="true"/>
<booleanAttribute key="PASS_MAIN_CLASS" value="true"/>
<booleanAttribute key="PASS_RSLS" value="true"/>
<booleanAttribute key="PASS_SWCS" value="true"/>
<intAttribute key="PLAYER_HEIGHT" value="600"/>
<intAttribute key="PLAYER_WIDTH" value="800"/>
<stringAttribute key="POST_COMPILE_ANT" value="build/post_compile.xml"/>
<stringAttribute key="PRE_COMPILE_ANT" value=""/>
<stringAttribute key="PROJECT_NAME" value="Away3D_Examples_FP10"/>
<stringAttribute key="PUBLISHER_ID" value=""/>
<booleanAttribute key="START_SWF_ENABLED" value="true"/>
<stringAttribute key="START_SWF_LOCATION" value="bin/Intermediate_Skybox.html"/>
<stringAttribute key="START_SWF_WITH" value="Browser"/>
<booleanAttribute key="USE_GLOBAL_FCSH_LOCATION" value="true"/>
<booleanAttribute key="USE_PROJECT_COMPILER_ARGUMENTS" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Away3D_Examples_FP10"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/Away3D_Examples_FP10/launch/output.txt}"/>
<stringAttribute key="process_factory_id" value="com.powerflasher.fdt.ui.launch.fcsh.ProcessFactory"/>
</launchConfiguration>
